.green-background {
  background-color: $green;
}

.white-background {
  background-color: $white;
}

.black-background {
  background-color: $black;
}

.intro-carrousel {
  background-color: '/images/burger.jpg';
  height: 150px;
}

html {
  background-color: $white;
}

