.green-background {
  background-color: #c9e4ca;
}

.white-background {
  background-color: $white;
}

.black-background {
  background-color: $black;
}

.home-background {
  background-image: url(image_path('background3.jpg'));
  height: 400px;
  background-size: cover;
}

.about-background {
  background-image: url(image_path('kitchen.png'));
  height: 450px;
  background-size: cover;
}

html, body {
  background-color: $white;
}

.green-speckled-background {
  background: image-url('green_speckles.png');
  background-size: cover;
  height: 500px;
  margin-right: 0px;
  margin-left: 0px;
}

.grey-speckled-background {
  background: image-url('grey_speckles.png');
  background-size: cover;
  height: 500px;
  margin-right: 0px;
  margin-left: 0px;
}

.login-background {
  background: image-url('login_background.png');
  background-size: cover;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.left-image {
  height: 650px;
  width: 700px;
}
.corazón.active {
  color: #433FB0;
  background-color: rgb(236, 237, 254);
  border-color: inherit;
}
