<h2 class="text-center py-3"><%= @event.title %></h2>
<h3 class="text-center py-3"><strong>Choose your meals!</strong></h3>

<div class="container">
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-12 col-lg-4 text-center">
        <div class="card-recipe">
          <img src="https://source.unsplash.com/400x300/?yummy" alt="">
          <p><%= recipe.name %></p>
          <div class="selectable">
            <%= button_to "-", "#", method: :delete, class: "plus-btn" %>
            <p>0</p>
            <%= button_to "+", "#", method: :post, class: "plus-btn" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="btn start my-3">Next →</div>
</div>
