<div class="white-background">
  <div class="container">

    <h2 class="py-5 text-center"><%= @event.title %></h2>

    <div class="cards mb-5">

      <div class="mini-card">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg">
        <div class="mini-card-infos">
          <p>Title here</p>
        </div>
      </div>

      <div class="mini-card">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg">
        <div class="mini-card-infos">
          <p>Title here</p>
        </div>
      </div>

      <div class="mini-card">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg">
        <div class="mini-card-infos">
          <p>Title here</p>
        </div>
      </div>

      <div class="mini-card">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg">
        <div class="mini-card-infos">
          <p>Title here</p>
        </div>
      </div>

      <div class="mini-card">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg">
        <div class="mini-card-infos">
          <p>Title here</p>
        </div>
      </div>

      <div class="mini-card">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg">
        <div class="mini-card-infos">
          <p>Title here</p>
        </div>
      </div>

      <div class="mini-card">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg">
        <div class="mini-card-infos">
          <p>Title here</p>
        </div>
      </div>

      <div class="mini-card">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg">
        <div class="mini-card-infos">
          <p>Title here</p>
        </div>
      </div>

      <div class="mini-card">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg">
        <div class="mini-card-infos">
          <p>Title here</p>
        </div>
      </div>
    </div>

    <div class="rectangular-card d-inline-flex justify-content-center">
      <img class="ml-2" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg">
      <h6 class="green ml-2 mr-2">List of all ingredients</h6>
    </div>

    <h2 class="py-4">Espacio</h2>

  </div>
</div>
