<%= content_for :navbar do %>
  ""
<% end %>
<div class="about-background">
<div class="container">
  <%= link_to home_path, class: "navbar-brand" do %>
    <%= image_tag "readymeals-logo.png", class:"w-50 pt-3" %>
  <% end %>
  <h1> </h1>
  <h1 class="pb-3"> </h1>
  <h1 class="green text-center py-5 super-title">This is where it all started</h1>
</div>
</div>

<div class="container">

  <h1><em>Welcome</em></h1>
  <h5><em>Like a first date, this is where we tell you about our past, present and future — a future we’d love for you to be part of. Intrigued? Read more about us below and free to join, free to leave.</em></h5>
  <h5><em>Are we the only ones that have butterflies right now?</em></h5>

  <h1 style="border-top: 2px solid rgba(0, 0, 0, 0.15);"><em>Our Perspective</em></h1>
  <h5><em>At RM we are travelers. Dreamers. Optimists. We believe that the world will be better tomorrow than it is today. We believe in family. Open architecture. Bridges, not walls. We believe that journeys — in our backyards, across oceans and through outer space — have the power to open our minds and shape our lives.</em></h5>
  <h5><em>At RM, we exist to create meaningful journeys.</em></h5>

</div>






<!-- <div class="white-background">
  <div class="block py-5 green-speckled-background">
    <div class="text-center pt-5">
      <%= image_tag "readymeals-logo.png", class:"w-25" %>
    </div>

    <div class="container bg-white p-3">
      <div class="pt-2 pb-2">
        <h5 class= "green"><strong>Our history</strong></h5>
        <h5>Founded in...</h5>
      </div>

      <div class="pt-2 pb-2">
        <h5 class= "green"><strong>Our team</strong></h5>
        <h5>Founded in...</h5>
      </div>

      <div class="pt-2 pb-2">
        <h5 class= "green"><strong>Our product</strong></h5>
        <h5>Founded in...</h5>
      </div>

      <div class="pt-2 pb-2">
        <h5 class= "green"><strong>Success!</strong></h5>
        <h5>Founded in...</h5>
      </div>
    </div>
  </div>
</div>
 -->
