<div class="white-background">
  <div class="block py-5 green-speckled-background">
    <div class="text-center pt-5">
      <%= image_tag "readymeals-logo.png", class:"w-25" %>
    </div>

    <div class="container bg-white p-3">
      <div class="pt-2 pb-2">
        <h5 class= "green"><strong>Our history</strong></h5>
        <h5>Founded in...</h5>
      </div>

      <div class="pt-2 pb-2">
        <h5 class= "green"><strong>Our team</strong></h5>
        <h5>Founded in...</h5>
      </div>

      <div class="pt-2 pb-2">
        <h5 class= "green"><strong>Our product</strong></h5>
        <h5>Founded in...</h5>
      </div>

      <div class="pt-2 pb-2">
        <h5 class= "green"><strong>Success!</strong></h5>
        <h5>Founded in...</h5>
      </div>
    </div>
  </div>
</div>
