<div class="about-background">
  <div class="container">
    <h1 class="pb-3"> </h1>
    <h1 class="pb-3"> </h1>
    <h1 class="pb-3"> </h1>
    <h1 class="pb-3"> </h1>
    <h1 class="pb-3"> </h1>
    <h1 class="pb-3"> </h1>


    <h1 class="text-center py-5 super-title">This is where it all started</h1>
  </div>
</div>

<div class="white-background">
  <div class="container text-center w-50 py-5">

    <h1 class="pb-3 green"><em>Welcome</em></h1>
    <h6><em>Like a first date, this is where we tell you about our past, present and future — a future we’d love for you to be part of. Intrigued? Read more about us below and free to join, free to leave.</em></h6>
    <h6  class="separator-bottom mb-3 pb-4"><em>Are we the only ones that have butterflies right now?</em></h6>

    <h1 class="green pt-3"><em>Our Perspective</em></h1>
    <h6><em>At RM we are travelers. Dreamers. Optimists. We believe that the world will be better tomorrow than it is today. We believe in family. Open architecture. Bridges, not walls. We believe that journeys — in our backyards, across oceans and through outer space — have the power to open our minds and shape our lives.</em></h6>
    <h5 class="green pb-4"><em>At RM, we exist to create meaningful journeys.</em></h5>

  </div>
</div>
