<h1>about</h1>
<p><strong>Nuestra historia:</strong> Somos una empresa nueva que desarrolla soluciones para viajes en conjunto</p>
<p><strong>Nuestra Equipo:</strong> Somos desarrolladores formados en "Le Wagon", desarrollando experiencia cada día</p>
<p><strong>Nuestra Producto:</strong> Ready Meals soluciona la organización de las compras de comida para viajes en conjunto</p>
<p><strong>Casos de éxito:</strong> Llevamos recolectados los fondos para los próximos 5 años de funcionamiento</p>
<p>Tenemos 1000 usuarios registrados y 3000 viajes organizados con la aplicación</p>