<div class="white-background">
<!--   <h6 class="green d-flex justify-content-end pr-5 pt-5">Already a member?</h6>
  <%= link_to "Login to your account", new_user_session_path, class: "green-link d-flex justify-content-end pr-5" %>
 -->
  <div class=" text-center">
      <%= image_tag "readymeals-logo.png", class:"w-25" %>
  </div>
  
  <div class="block py-5 green-speckled-background text-center">
    <div class="pt-2 pb-2">
      <h3 class= "green"> + 54 9 11 65 84 MIKA Jenik</h3>
      <h3 class="green"> + 54 9 11 65 84 Guido Tiba</h3>
      <h3 class="green">+54 9 11 65 84 Claudio To</h3>
      <h3 class="green">contacto@readymeal.asia </h3>
  </div >

