<div id="page-container">
  <div id="content-wrap">

    <div class="block py-5 green-speckled-background text-center">
      <div class=" text-center">
        <%= image_tag "readymeals-logo.png", class:"w-25" %>
      </div>
        
      <div class="container p-3">
        <div class="pt-2 pb-2">
          <h3 class= "green"> + 54 9 11 65 84 MIKA Jenik</h3>
          <h3 class="green"> + 54 9 11 65 84 Guido Tiba</h3>
          <h3 class="green">+54 9 11 65 84 Claudio To</h3>
          <h3 class="green">contacto@readymeal.asia </h3>
        </div >
      </div>
    </div>

  </div>
   <footer id="footerbottom"></footer>
</div>  