<div class="about-background">
  <div class="container">
    <h1 class="pb-3"> </h1>
    <h1 class="pb-3"> </h1>
    <h1 class="pb-3"> </h1>
    <h1 class="pb-3"> </h1>
    <h1 class="pb-3"> </h1>
    <h1 class="pb-3"> </h1>
    <h1 class="text-center py-5 super-title">Reach out!</h1>
  </div>
</div>
<div class="white-background">
  <div class="container text-center w-50 py-5">
    <h1 class="pb-3 green"><em>Want to know more about us?</em></h1>
    <h6><em>Like a first date, things can go north, things can go south.</em></h6>
    <h6 class="mb-3"><em>Gives us a call if you'd like to see us in real life! There are always new opportunities at RM and we'd love to get to know you better!</em></h6>
        <h6> + 54 9 11 65 84 Mica Jenik</h6>
        <h6> + 54 9 11 65 84 Guido Tiba</h6>
        <h6>+54 9 11 65 84 Claudio To</h6>
    <h6 class="separator-bottom mb-3 pb-4">contact@readymeal.asia</h6>
  </div>
</div>
