  <div class="block py-5 green-speckled-background text-center">
      <div class=" text-center">
          <%= image_tag "readymeals-logo.png", class:"w-25" %>
      </div>
    
    <div class="container p-3">
      <div class="p-4">
        <h2 class= "green"> If you need any help working with our webpage, please contact us to:</h2>
        <h3 class="green">contacto@readymeal.asia </h3>
      </div >
    </div>
  </div>
