  <div class="block py-3 green-speckled-background text-center">
      <div class="text-center pt-5">
          <%= image_tag "readymeals-logo.png", class:"w-25" %>
      </div>

    <div class="container">
      <div class="p-4 w-50 mx-auto green">
        <h5 class="pt-2">Having trouble planning events or cooking our recipes? </h5>
        <h5>Do reach out to as at contact@readymeal.asia </h5>
        <h6>Or fill the following form :)</h6>

        <div class="block py-3 mx-auto">
          <form class="pb-3">
            <div class="form-group pb-2">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="E-mail address" style="border-radius: 15px!important;">
            </div>
            <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="How can we help?" style="border-radius: 15px!important;"></textarea>
            </div>
            <%= link_to home_path, method: :get, id: :btn do %>
              <div class="text-center pt-2">
                <div class="btn btn-green w-25 justify-content-center">Review!</div>
              </div>
            <% end %>
          </form>
        </div>

        <h5 class="green">We will get back to you as soon as possible</h5>

        <h5 class="green">Thank you and happy planning!</h5>
      </div >
    </div>
  </div>
