  <div class="block py-5 green-speckled-background text-center">
      <div class="text-center pt-5">
          <%= image_tag "readymeals-logo.png", class:"w-25" %>
      </div>

    <div class="container p-3">
      <div class="p-4 w-50 mx-auto">
        <h4 class="green my-5">If you are having trouble planning your events or carrying out any of our recipes, please do reach out to us at contact@readymeal.asia</h4>
        <h4 class="green my-5">Thank you and happy planning!</h4>
      </div >
    </div>
  </div>
