<div class="green-background">
  <div class="container py-5">
    <h1 class="white"><strong>Planned recipes at the ready. None of the hassle</strong></h1>
    <p class="white">Get started in 1 minute</p>
    <div class="btn start">Get started</div>
  </div>
</div>

<div class="white-background">
  <div class="container py-5 d-flex justify-content-end">
    <h3 class="green">Have your <strong>shopping list and recipes</strong> tailored according to your group’s needs, all in one place.</h3>
  </div>
</div>
