<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="divLoco" style="height:100px; width:700px; background-color:#cccccc; margin: 20px auto;">Hola</div>
  <div style="opacity:0; transition: height 0.3s ease-in-out, opacity 0.2s; margin:-19px auto; height:0px; width:700px; background-color:#aaaaaa">asd</div>
<div class="divLoco" style="height:100px; width:700px; background-color:#cccccc; margin: 20px auto;">Hola</div>
  <div style="opacity:0; transition: height 0.3s ease-in-out, opacity 0.2s; margin:-19px auto; height:0px; width:700px; background-color:#aaaaaa">asd</div>
<div class="divLoco" style="height:100px; width:700px; background-color:#cccccc; margin: 20px auto;">Hola</div>
  <div style="opacity:0; transition: height 0.3s ease-in-out, opacity 0.2s; margin:-19px auto; height:0px; width:700px; background-color:#aaaaaa">asd</div>
<div class="divLoco" style="height:100px; width:700px; background-color:#cccccc; margin: 20px auto;">Hola</div>
  <div style="opacity:0; transition: height 0.3s ease-in-out, opacity 0.2s; margin:-19px auto; height:0px; width:700px; background-color:#aaaaaa">asd</div>
<div class="divLoco" style="height:100px; width:700px; background-color:#cccccc; margin: 20px auto;">Hola</div>
  <div style="opacity:0; transition: height 0.3s ease-in-out, opacity 0.2s; margin:-19px auto; height:0px; width:700px; background-color:#aaaaaa">asd</div>
<div class="divLoco" style="height:100px; width:700px; background-color:#cccccc; margin: 20px auto;">Hola</div>
  <div style="opacity:0; transition: height 0.3s ease-in-out, opacity 0.2s; margin:-19px auto; height:0px; width:700px; background-color:#aaaaaa">asd</div>
