<div class="white-background">
  <div class="container">

    <h3 class="py-3">Welcome back!</h3>

    <div class="light-green-block p-3">
      <h4>Your next event:</h4>
      <%= @nextevent.title %>
      <h4>FOTO</h4>
      <H4>INFO</H4>
    </div>

    <div class="py-3">
      <h5>Saved dietary preferences:</h5>
      <h6>□ Vegetarian</h6>
      <h6>□ No peanuts</h6>
    </div>



    <div class="light-green-block p-3">
      <h4>Your last event:</h4>
      <%= @lastevent.title %>
      <h6 class="pt-4">Rate it!</h6>
      <h6>☆ ☆ ☆ ☆ ☆</h6>
    </div>


  </div>
</div>
