.sidebox {
  width: 400px;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  right: 0px;
  transition: 400ms cubic-bezier(0.4, 0, 1, 1);
  transition-property: transform,box-shadow;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.selection-box {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  width: 30vw;
  &:hover {
    transition: 400ms cubic-bezier(0.4, 0, 1, 1);
    transition-property: transform,box-shadow;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

.selection-box-select-meals {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  &:hover {
    transition: 400ms cubic-bezier(0.4, 0, 1, 1);
    transition-property: transform,box-shadow;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

.selection-box-index {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1.5rem;
    box-shadow: 0 0 15px #B3DEB4;
  &:hover {
    transition: 400ms cubic-bezier(0.4, 0, 1, 1);
    transition-property: transform,box-shadow;
  box-shadow: 0 0 15px green;
  }
}

#event-form-title:focus {
  outline: none;
}

.dropdown-top {
 border-top-right-radius:7px;
 border-top-left-radius: 7px;
}

.dropdown-bottom {
 border-bottom-right-radius:7px;
 border-bottom-left-radius: 7px;
}

.info-collapsible {
  width: 350px;
  margin-top: 12px;
}

.fill-in {
  background-color: white;
  border: white;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

#event-form-title:focus {
  box-shadow: 0 0 15px #B3DEB4;
}

.no-highlight:focus {
  box-shadow: 0 0 0px transparent;
}

.form-control {
  border-radius: 100px;
}

#left-78vw {
  width: 78vw;
}

#sidebox {
  right: 0px;
  width: 22vw;
}