.card-containter {
  width: 100%;
}

.mini-card  {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 250px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  text-align: center;
}

.mini-card > img {
  height: 130px;
  width: 100%;
  object-fit: cover;
}

.rectangular-card {
  height: 100px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  border: 1px solid rgba($color: #727272, $alpha: 0.5);
}

.rectangular-card > img {
  border-radius: 12px;
  height: 100%;
  padding: 15px;;
}

.big-card {
  background: rgb(221, 221, 221) !important;
  overflow: hidden !important;
  border-radius: 12px !important;
  height: 340px;
  width: 340px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.big-cards-setup {
  grid-gap: 60px;
}

.small-card {
  background: rgb(221, 221, 221) !important;
  border-radius: 12px !important;
  height: 64px;
  width: 64px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.small-cards {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}



.light-violet-block {
  margin-top: 0px;
  margin-right: auto;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 26px;
  background-color: $lilac;
  color: $dark-violet;
}

.lilac-rectangular-card {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  border: 1px transparent;
  &:hover {
    border: inherit!important;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  }
}

.lilac-rectangular-card > img {
  border-radius: 12px;
  height: 100%;
  padding: 8px;
}

.separator {
  border-left: solid 1.5px $dark-violet;
}

.sample_food {
  height: 400px;
}

// .card-recipe {
//   height: 80px;
//   background-color: white;
//   display: flex;
//   align-items: center;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   padding-right: 5px;
//   margin-bottom: 20px;
// }

// .card-recipe img {
//   height: 100%;
//   object-fit: contain;
// }

// .card-recipe p {
//   margin: auto;
// }

.hover-recipe-details {
  background: white;
  color: black;
  opacity: 0;
  overflow: hidden;
  border-radius: 8px;
  position: absolute;
  height: 350px;
  width: 350px;
  top: 0;
  overflow: scroll;
  &:hover{
    opacity: 1;
    background-color: rgba($color: #fff, $alpha: 0.8);
  }
}
