.card-recipe {
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-right: 5px;
  margin-bottom: 20px;
}

.card-recipe img {
  height: 100%;
  object-fit: contain;
}

.card-recipe p {
  margin: auto;
}