#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer-links p {
  color: black;
  opacity: 0.80;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}

.footer-links p:hover {
  opacity: 1;
}

.footer-help {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}


#footerbottom {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;           /* Footer height */
}