.sidebar-loco {
  position: fixed;
  height: 100%;
  width: 350px;
  background-color: white;
  top: 0;
  right: 0;
  border: 1px transparent;
  transition: box-shadow 0.2s ease;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
