.green {
  color: $green;
  &:hover {
    color: $green;
  }
}

.white {
  color: white;
}

.white-link {
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}

.green-link {
  color: $green;
  &:hover {
    text-decoration: none!important;
    font-weight: bold;
    color: $green;

  }
}

html, body {
  height: 100%;
  width: 100%;
}


.subtitles {
  color: #878787;
}

.micro-letter {
  font-size: 10px;
}
